body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 0.5fr 7fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

#editor{
    grid-column: 1 / span 3;
}

#terminal{
    grid-row: 3;
    background: gainsboro;
    grid-column: 1 / span 3;
}

navbar{
    grid-column: 1 / span 3;
    display:flex;
}